@import "../app.scss"; // Import global styles

.toolbar {
  right: 20px;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px;
  background: rgba($background-grey, 0.95);
  border-radius: 12px;
  box-shadow: 0 4px 6px $shadow-light;
  /* Removed fixed height to accommodate auto-sized buttons */
}

.toolbar-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 4px;
  transition: background 0.2s ease, transform 0.1s ease;

  display: flex;
  align-items: center;
  gap: 8px;

  i {
    font-size: 20px;
    color: $secondary-color; // Use primary color for icons
  }

  span {
    font-size: 16px;
    color: $secondary-color;
  }

  &:hover {
    background: rgba($primary-color, 0.1);
    transform: scale(1.05);
  }

  &.active {
    background: $secondary-color;

    i,
    span {
      color: white;
    }
  }
}
