@import "../../app.scss"; // Import global styles

.force-graph-container {
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;
}

.node-label {
  font-size: 12px;
  font-weight: bold;
  fill: white;
  text-shadow: 1px 1px 3px #333;
  pointer-events: none;
  padding: 2px 4px;
  border-radius: 4px;
}

.link {
  stroke: #ccc;
  stroke-opacity: 0.7;
  stroke-width: 1.5;
}

.node:hover {
  cursor: pointer;
}

.link.highlighted {
  stroke: #ff9900 !important;
  stroke-opacity: 1 !important;
  stroke-width: 3 !important;
}

.article-node {
  fill: #888888;
}

.article-tooltip {
  pointer-events: none;
}

.tooltip-rect {
  fill: $secondary-color;
  opacity: 0.9;
}
